body { background-color: #fff; color: #333;background-image:url(../images/Bluthner_Piano.jpg); }

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #000; }
a:visited { color: #666; }
a:hover { color: #fff; background-color:#000; }

div.field, div.actions {
  margin-bottom: 10px;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}
td { text-align:left }
body,td,th {
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-size: 12px;
	color: #FFFFFF;

}
.error{
	color:#FF0000;
}
.textfield {
	width:250px;
}
a {
	font-size: 12px;
	color:#99CCFF;
}
a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #993399;
}
a:hover {
	text-decoration: underline;
	color: #FFFFFF;
}
a:active {
	text-decoration: none;
	color: #FFFF00;
}
h1 {
	font-size: x-large;
	color:#006633;
}
#main_div
{
	width:1050px;
	margin-left:auto;
	margin-right:auto;
}

#nav
{
	width: 100%;
	/*margin: 0px 60px -0px -3px;*/
	
}
#nav a
{
	color: #99CCFF;
	padding: 8px 2px;
	padding-left: 15px;
	text-decoration: none;
	font-size: 11px;
	display: block;
	/*background-color:#99CCFF;*/
	border-bottom:#000000 thin solid;
	border-top:none;
	border-left:none;
	border-right:none;
	text-align:left;
	margin:0;
}
#nav a:hover
{
	color: #ffffff;
	background-color: #000033;

/*
	text-decoration: underline;
*/
}
#nav a:active
{
	color: #ffffff;
	background-color: #333333;

/*
	text-decoration: underline;
*/
}

#nav2
{
	text-align: center;
	background-color: #E4F5FF;
	padding: 5px 0px;
}
#nav2 a
{
	padding: 10px 10px;
	color: #000000;
	text-decoration: none;
	font-size: 14px;
/*
	display: block;
*/
}
#nav2 a:hover
{
	color: #ffffff;
	background-color: #000066;
	text-decoration: none;
	font-size: 14px;
/*
	display: block;
*/
}
.style1 {color: #FFFFFF}
.style7 
{
	font-size: 85px;
	font-family: "Century Gothic";
	color: #0066FF;
}
.style9 {font-size: 40px}
.style10 {font-size: 30px}
.style11 {font-size: 85px}
